/* @ FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/*//? digunakan untuk smooth pada saat scroll*/
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f8f9fc;
  font-family: "Poppins", sans-serif;

}

.side-navbar {
  width: 200px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #1b1919;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #a7d129;
  color: #fff;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 200px;
}

#menu-btn {
  background-color: #1b1919;
  color: #fff;
  margin-left: -15px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}
.w-100 {
  width: 97%!important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #a7d129;
}
.bg-light {
  background-color: #f6f6f6 !important;
}
.breadcrumb {
  margin-bottom: 0;
  margin-left: 15px;
}
li.breadcrumb-item a {
  color: #a7d129;
  text-decoration: none;
}
li.breadcrumb-item a:hover {
  color: #89ab23;
}

nav#sidebar a {
  text-decoration: none;
  color: #fff;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #89ab23;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(167 209 41);
}
.side-navbar li .submenu {
  list-style: none;
  margin: 0;
  padding: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.has-submenu .nav-link i.bx {
  float: right;
  font-size: 18px;
  padding-top: 2px;
}
.submenu a.nav-link {
  font-size: 0.8rem;
}
li.nav-item {
  padding: 2px;
}
.nav-title{
  background: 0 0;
  border: 0;
  border-radius: .25rem;
  padding: .5rem 1rem;
}